config/flows.json
[{"id":"f2a31f01.5eaed","type":"tab","label":"NodeRed Gateway","disabled":false,"info":""},{"id":"56ededba.0f5104","type":"tab","label":"Uso Redis","disabled":false,"info":""},{"id":"cae8dc47.4a6a5","type":"tab","label":"EjemploVSConRedis","disabled":false,"info":""},{"id":"42326e1b.e8a36","type":"redis-config","name":"Local","options":"redis-server:6379","cluster":false,"optionsType":"str"},{"id":"eb45143d.93e6a8","type":"debug","z":"56ededba.0f5104","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":690,"y":320,"wires":[]},{"id":"e5dc998d.228bd8","type":"inject","z":"56ededba.0f5104","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":320,"wires":[["a37a095c.238d28"]]},{"id":"a37a095c.238d28","type":"redis-out","z":"56ededba.0f5104","server":"42326e1b.e8a36","command":"rpush","name":"","topic":"test","x":450,"y":280,"wires":[]},{"id":"7e9f6e70.f51c4","type":"redis-in","z":"56ededba.0f5104","server":"42326e1b.e8a36","command":"blpop","name":"","topic":"test","timeout":0,"x":450,"y":320,"wires":[["eb45143d.93e6a8"]]},{"id":"2ac58bef.163ec4","type":"inject","z":"56ededba.0f5104","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"a\":1,\"b\":2}","payloadType":"json","x":170,"y":280,"wires":[["a37a095c.238d28"]]},{"id":"f03a4f48.d0c79","type":"redis-command","z":"56ededba.0f5104","server":"42326e1b.e8a36","command":"getset","name":"","topic":"timestamp","params":"[]","paramsType":"json","payloadType":"json","block":false,"x":430,"y":380,"wires":[["125d71f3.06c3ae"]]},{"id":"1b6bdb84.0d78e4","type":"inject","z":"56ededba.0f5104","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":380,"wires":[["f03a4f48.d0c79"]]},{"id":"125d71f3.06c3ae","type":"debug","z":"56ededba.0f5104","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":380,"wires":[]},{"id":"c786199d.99e8c8","type":"catch","z":"56ededba.0f5104","name":"","scope":null,"uncaught":false,"x":460,"y":220,"wires":[["84b64aa3.55d9d8"]]},{"id":"84b64aa3.55d9d8","type":"debug","z":"56ededba.0f5104","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":690,"y":220,"wires":[]},{"id":"ce86e51b.9ea848","type":"redis-command","z":"56ededba.0f5104","server":"42326e1b.e8a36","command":"set","name":"","topic":"","params":"[]","paramsType":"json","payloadType":"json","block":false,"x":380,"y":440,"wires":[["6977fcf3.0501a4"]]},{"id":"dec62d2a.0e894","type":"inject","z":"56ededba.0f5104","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\"key\",\"value\"]","payloadType":"json","x":170,"y":440,"wires":[["ce86e51b.9ea848"]]},{"id":"6977fcf3.0501a4","type":"debug","z":"56ededba.0f5104","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":440,"wires":[]},{"id":"e122e8ad.45a278","type":"redis-command","z":"56ededba.0f5104","server":"42326e1b.e8a36","command":"getset","name":"","topic":"","params":"[]","paramsType":"json","payloadType":"json","block":false,"x":390,"y":500,"wires":[["cda9b918.ecb8a8"]]},{"id":"a0d64051.6549f","type":"inject","z":"56ededba.0f5104","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"key","payload":"[\"value\"]","payloadType":"json","x":170,"y":500,"wires":[["e122e8ad.45a278"]]},{"id":"cda9b918.ecb8a8","type":"debug","z":"56ededba.0f5104","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":500,"wires":[]},{"id":"2d77e880.e2d698","type":"redis-command","z":"56ededba.0f5104","server":"42326e1b.e8a36","command":"hmset","name":"","topic":"","params":"[]","paramsType":"json","payloadType":"json","block":false,"x":390,"y":620,"wires":[["1a102e0a.7c6862"]]},{"id":"33acf5a7.b1fbba","type":"inject","z":"56ededba.0f5104","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"myHash","payload":"{\"a\":1,\"b\":2}","payloadType":"json","x":190,"y":620,"wires":[["2d77e880.e2d698"]]},{"id":"1a102e0a.7c6862","type":"debug","z":"56ededba.0f5104","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":620,"wires":[]},{"id":"8ae03f47.2f002","type":"inject","z":"56ededba.0f5104","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":150,"y":680,"wires":[["d0053c78.d9408"]]},{"id":"66b1d7ed.1c6c18","type":"debug","z":"56ededba.0f5104","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":680,"wires":[]},{"id":"d0053c78.d9408","type":"redis-command","z":"56ededba.0f5104","server":"42326e1b.e8a36","command":"hgetall","name":"","topic":"myHash","params":"{}","paramsType":"json","payloadType":"json","block":false,"x":420,"y":680,"wires":[["66b1d7ed.1c6c18"]]},{"id":"4f0e85f4.255b8c","type":"inject","z":"56ededba.0f5104","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":150,"y":740,"wires":[["2aba2dc6.383a12"]]},{"id":"8705b630.957a98","type":"debug","z":"56ededba.0f5104","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":740,"wires":[]},{"id":"2aba2dc6.383a12","type":"redis-command","z":"56ededba.0f5104","server":"42326e1b.e8a36","command":"sadd","name":"","topic":"mySet","params":"[\"memberA\",\"memberB\",\"memberC\"]","paramsType":"json","payloadType":"json","block":false,"x":410,"y":740,"wires":[["8705b630.957a98"]]},{"id":"e0f3fa9a.b77b78","type":"redis-command","z":"56ededba.0f5104","server":"42326e1b.e8a36","command":"GET","name":"","topic":"","params":"[]","paramsType":"json","payloadType":"json","block":false,"x":380,"y":560,"wires":[["d94aa02.007816"]]},{"id":"ede0504f.65e3c","type":"inject","z":"56ededba.0f5104","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"key","payload":"[]","payloadType":"json","x":150,"y":560,"wires":[["e0f3fa9a.b77b78"]]},{"id":"d94aa02.007816","type":"debug","z":"56ededba.0f5104","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":690,"y":560,"wires":[]},{"id":"a1722682.6be7b8","type":"redis-lua-script","z":"56ededba.0f5104","server":"42326e1b.e8a36","name":"test","keyval":0,"func":"local text = \"Hello World\"\nreturn text","stored":true,"block":false,"x":370,"y":860,"wires":[["54862e26.8d4c3"]]},{"id":"e704c297.dd2bd","type":"inject","z":"56ededba.0f5104","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":860,"wires":[["a1722682.6be7b8"]]},{"id":"54862e26.8d4c3","type":"debug","z":"56ededba.0f5104","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":690,"y":860,"wires":[]},{"id":"9796d848.914378","type":"inject","z":"56ededba.0f5104","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":150,"y":800,"wires":[["df6e8bdb.b8f5b8"]]},{"id":"a53478cc.a4a998","type":"debug","z":"56ededba.0f5104","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":800,"wires":[]},{"id":"df6e8bdb.b8f5b8","type":"redis-command","z":"56ededba.0f5104","server":"42326e1b.e8a36","command":"sismember","name":"","topic":"mySet","params":"[\"memberA\"]","paramsType":"json","payloadType":"json","block":false,"x":430,"y":800,"wires":[["a53478cc.a4a998"]]},{"id":"f9150106.a6891","type":"redis-lua-script","z":"56ededba.0f5104","server":"42326e1b.e8a36","name":"test2","keyval":0,"func":"local text = \"Hello2222 World2222\"\nreturn text","stored":false,"block":false,"x":370,"y":920,"wires":[["2a6e9e9c.a84f72"]]},{"id":"9e92f372.34426","type":"inject","z":"56ededba.0f5104","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":920,"wires":[["f9150106.a6891"]]},{"id":"2a6e9e9c.a84f72","type":"debug","z":"56ededba.0f5104","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":690,"y":920,"wires":[]},{"id":"91c2f64a.ebc0a8","type":"redis-in","z":"56ededba.0f5104","server":"42326e1b.e8a36","command":"psubscribe","name":"","topic":"TOPIC:*","timeout":0,"x":460,"y":100,"wires":[["58587dc8.903944"]]},{"id":"58587dc8.903944","type":"debug","z":"56ededba.0f5104","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":690,"y":100,"wires":[]},{"id":"f862fc63.f7c36","type":"redis-in","z":"56ededba.0f5104","server":"42326e1b.e8a36","command":"subscribe","name":"","topic":"TOPIC:OK","timeout":0,"x":460,"y":160,"wires":[["a03c7400.6d0e88"]]},{"id":"a03c7400.6d0e88","type":"debug","z":"56ededba.0f5104","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":690,"y":160,"wires":[]},{"id":"e736857e.e90ba8","type":"redis-out","z":"56ededba.0f5104","server":"42326e1b.e8a36","command":"publish","name":"","topic":"TOPIC:OK","x":190,"y":220,"wires":[]},{"id":"7068f66f.53e058","type":"inject","z":"56ededba.0f5104","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"a\":1,\"b\":2}","payloadType":"json","x":170,"y":120,"wires":[["e736857e.e90ba8"]]},{"id":"19114b1d.85d625","type":"redis-command","z":"56ededba.0f5104","server":"42326e1b.e8a36","command":"del","name":"","topic":"","params":"[]","paramsType":"json","payloadType":"json","block":false,"x":380,"y":980,"wires":[["cb437ef8.de141"]]},{"id":"ae06c58f.5091b8","type":"inject","z":"56ededba.0f5104","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"key","payload":"[]","payloadType":"json","x":150,"y":980,"wires":[["19114b1d.85d625"]]},{"id":"cb437ef8.de141","type":"debug","z":"56ededba.0f5104","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":690,"y":980,"wires":[]},{"id":"77d1f825.b11188","type":"redis-instance","z":"56ededba.0f5104","server":"42326e1b.e8a36","name":"","topic":"redis","location":"flow","x":130,"y":1020,"wires":[]},{"id":"5d99dfc2.b874b","type":"inject","z":"56ededba.0f5104","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":1080,"wires":[["7045cab4.abaaf4"]]},{"id":"7045cab4.abaaf4","type":"function","z":"56ededba.0f5104","name":"","func":"let redis = context.flow.get('redis');\n\nredis.info().then((data)=>{\n    msg.payload = data\n    node.send(msg);\n})\n\n/*\nredis.call(\"anycmd\").then((data)=>{\n    msg.payload = data\n    node.send(msg);\n})*/","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":1080,"wires":[["529024ff.45becc"]]},{"id":"529024ff.45becc","type":"debug","z":"56ededba.0f5104","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":690,"y":1080,"wires":[]},{"id":"f9323d37.77922","type":"inject","z":"f2a31f01.5eaed","name":"","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"GetPeticion","x":130,"y":340,"wires":[["70b16938.44b938"]]},{"id":"70b16938.44b938","type":"redis-command","z":"f2a31f01.5eaed","server":"42326e1b.e8a36","command":"GET","name":"","topic":"","params":"[]","paramsType":"json","payloadType":"json","block":false,"x":440,"y":340,"wires":[["ec0fa37a.5b001","3f5137a2.8ef4e8"]]},{"id":"d1c3e166.2e6a3","type":"http in","z":"f2a31f01.5eaed","name":"EndPoint","url":"/GetPeticion","method":"get","upload":false,"swaggerDoc":"","x":120,"y":220,"wires":[["74dbf5b9.2f7a5c"]]},{"id":"74dbf5b9.2f7a5c","type":"change","z":"f2a31f01.5eaed","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"GetPeticion","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":280,"wires":[["70b16938.44b938"]]},{"id":"e3e35e2c.1b626","type":"http response","z":"f2a31f01.5eaed","name":"","statusCode":"","headers":{},"x":810,"y":540,"wires":[]},{"id":"27df8cd7.54fb24","type":"template","z":"f2a31f01.5eaed","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<h3>Prueba realizada!!!</h3>","output":"str","x":430,"y":540,"wires":[["e3e35e2c.1b626"]]},{"id":"379db0ca.3d55a","type":"http request","z":"f2a31f01.5eaed","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":830,"y":340,"wires":[["45ed757e.4efa3c"]]},{"id":"67d484cf.1e457c","type":"http in","z":"f2a31f01.5eaed","name":"","url":"/Nodo1","method":"get","upload":false,"swaggerDoc":"","x":130,"y":540,"wires":[["27df8cd7.54fb24"]]},{"id":"3f2cd4e4.bf658c","type":"debug","z":"f2a31f01.5eaed","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"url","targetType":"msg","statusVal":"","statusType":"auto","x":860,"y":120,"wires":[]},{"id":"32234727.98f2c8","type":"comment","z":"f2a31f01.5eaed","name":"Blanceador","info":"","x":120,"y":140,"wires":[]},{"id":"45ed757e.4efa3c","type":"http response","z":"f2a31f01.5eaed","name":"","statusCode":"","headers":{},"x":1060,"y":340,"wires":[]},{"id":"ec0fa37a.5b001","type":"function","z":"f2a31f01.5eaed","name":"","func":"//msg.payload = \"DO0=\"+context.global.heater1 + \"&DO1=\" + context.global.heater2 +\"&DO2=\"+context.global.heater3+\"&DO3=\"+context.global.heater4 +\"&DO4=\"+context.global.heater5 +\"&DO5=\"+context.global.heater6;\nmsg.url = msg.payload;\nmsg.payload = {};\nmsg.headers = {};\nmsg.headers['User-Agent'] = 'Mozilla/5.0 (Macintosh; Intel Mac OS X x.y; rv:42.0) Gecko/20100101 Firefox/42.0';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":280,"wires":[["379db0ca.3d55a","3f2cd4e4.bf658c"]]},{"id":"3f5137a2.8ef4e8","type":"debug","z":"f2a31f01.5eaed","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":120,"wires":[]},{"id":"80d5456e.fcac88","type":"http in","z":"cae8dc47.4a6a5","name":"endPointServicio","url":"/Prueba","method":"get","upload":false,"swaggerDoc":"","x":240,"y":140,"wires":[["e91723a2.e8225"]]},{"id":"70f3abf7.262e34","type":"redis-command","z":"cae8dc47.4a6a5","server":"42326e1b.e8a36","command":"GET","name":"GetResponseFromRedis","topic":"","params":"[]","paramsType":"json","payloadType":"json","block":false,"x":390,"y":340,"wires":[["7d964932.2cc478"]]},{"id":"e91723a2.e8225","type":"change","z":"cae8dc47.4a6a5","name":"GetPeticion","rules":[{"t":"set","p":"topic","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":240,"wires":[["70f3abf7.262e34"]]},{"id":"7d964932.2cc478","type":"switch","z":"cae8dc47.4a6a5","name":"","property":"payload","propertyType":"msg","rules":[{"t":"else"},{"t":"null"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":200,"wires":[["1e25f923.82bbb7","ebe38c8a.cb709"],["692fadf4.7e3b94"]]},{"id":"1e25f923.82bbb7","type":"http response","z":"cae8dc47.4a6a5","name":"","statusCode":"","headers":{},"x":1070,"y":80,"wires":[]},{"id":"ebe38c8a.cb709","type":"debug","z":"cae8dc47.4a6a5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1110,"y":200,"wires":[]},{"id":"692fadf4.7e3b94","type":"http request","z":"cae8dc47.4a6a5","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://192.168.1.109:9000/api/projects/search","tls":"","persist":false,"proxy":"","authType":"basic","x":730,"y":300,"wires":[["eb00b12.d62f85","b68c2c5c.5de37"]]},{"id":"68aaa1eb.d69cf","type":"redis-command","z":"cae8dc47.4a6a5","server":"42326e1b.e8a36","command":"set","name":"StoreResponse","topic":"","params":"[]","paramsType":"json","payloadType":"json","block":false,"x":940,"y":460,"wires":[["ebe38c8a.cb709"]]},{"id":"eb00b12.d62f85","type":"change","z":"cae8dc47.4a6a5","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":460,"wires":[["68aaa1eb.d69cf"]]},{"id":"b68c2c5c.5de37","type":"json","z":"cae8dc47.4a6a5","name":"","property":"payload","action":"","pretty":false,"x":900,"y":280,"wires":[["1e25f923.82bbb7"]]}]